body{
    background-color: brown;
    
}
h2{
    color: burlywood;
}
.profile{
    border: solid orange 5px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    
    
}